[2015-08-06 08:30] kalmerrautam opened #2 "Problem with custom template."
Staff directory resets custom template after disabling and enabling the plugin.
1. installed plugin and enabled it.
2. added content.
3. created custom template in template1 field. saved.
4. disabled plugin.
5. enabled plugin again.
6. template1 was reset to default.

[2015-10-01 16:36] delitestudio opened #3 "Multiple category ids for [staff-directory] shortcode"
We have implemented the feature and we have allowed the shortcode to use slugs instead of ids.
If you want we can submit a pull request to your GitHub repository.
We think supporting slug and multiple categories may be a pro for everyone.

[2015-12-13 19:47] garand opened #4 "Undefined variable notice"
Hey, just installed and I'm getting this notice in the settings panel.

`Notice: Undefined variable: did_update_options in /web/app/plugins/staff-directory/views/admin_settings.php on line 63`

[2016-01-28 04:21] timnolte opened #6 "Default Dashboard Sort Is By ID, But Should Be By Title"
So in the Admin Dashboard when listing All Staff it appears that the default sort order it by the ID when it should really be by Title. I'll fix and submit a PR.

[2016-02-06 14:30] mattyas opened #7 "Better support for sorting"
To support orderby custom field (meta_value* in wordpress)
Example:
[staff-directory cat=11 template=custom_1 order=asc orderby=meta_value_num meta_key=my_sort_field]

Just forward 'meta_key'
[staff_directory_shortcode.php.txt](https://github.com/adamtootle/staff-directory/files/120303/staff_directory_shortcode.php.txt)

[2016-06-30 20:19] marknorgren commented on #7
@adamtootle were you planning on supporting the orderby custom field ?

[2016-08-08 03:17] timnolte commented on #7
~~This feature already works.~~

Actually, I'm wrong. What I though was working was actually just me entering them into the system in the order I was expecting.

[2016-08-12 02:30] timnolte commented on #7
@mattyas your code does work. Soon as I get a chance I can submit a PR unless you were planning to.

[2016-08-12 02:39] timnolte commented on #7
@adamtootle are you accepting PRs? Are you still interested in supporting this plugin or are you in need of someone to take over, or at least assist with maintenance? Let me know. I've settled on using this plugin for a site that I manage so I'd be more than willing to help add features I need myself, like this one.

[2016-09-05 16:15] #4 closed

[2016-09-05 16:15] #6 closed

[2016-09-05 16:15] #7 closed

[2016-09-05 17:18] #2 closed

[2016-09-05 17:20] adamtootle commented on #3
@delitestudio are you still interested in a PR for this? It'll need to be on top of the 1.0.3 release since a lot of code formatting has been updated. If not I can probably knock this out on my end.

[2016-09-06 12:08] delitestudio commented on #3
We will try it in spare time, but we cannot assure it will work as we have implemented it an year ago.

[2016-09-06 22:16] adamtootle commented on #3
@delitestudio totally understandable. I'll leave this here for now. Feel free to close if you'd like. Otherwise I may try to add support on my end at some point and reference it here.

[2016-09-10 04:22] dmkjr opened #9 "Image Cropping"
Hello, I saw you said post here for issues that you might be able to look at.

I have two when it comes to images.

1.  It crops the images and cuts off heads.  Not sure what it's using to crop the images, but it doesn't look good.

2.  Images keep turning themselves.  Thumbnails are turning sideways for some of the users staff picture.

Thanks for your help,
David

[2016-09-13 22:15] delitestudio commented on #3
@adamtootle we have made the pull request #10

[2016-09-23 03:22] timnolte opened #11 "Add Staff Category as an Admin Listing Filter"
Would be handy during the management of the staff list in the admin dashboard listing to be able to filter the list by category.

[2016-11-20 00:48] dmkjr opened #13 "Latest Update 1.1.0 Broken"
Evening,
Just writing for a few issues with the latest release.  I loved the idea of single author pages with biographies, but it failed.

The latest update created issues with JQUERY items as well as broke other custom_post_type layouts.  I saw users saying they were receiving a 500 error.  I wasn't able to duplicate that.

I'm not sure if it's because of it killing layout items, but also shortco

[2016-11-20 01:18] TurqDevDesign commented on #13
Hi @dmkjr, sorry to hear you're having issues. I'm not the owner of this repo, but I did contribute to much of the last update. Would you be able to give any more-detailed information? Any console errors or PHP error logs would be much appreciated. You said you couldn't duplicate the 500 error, but if you could point me to any of the reports of this, it could be helpful. As well, my shortcodes are

[2016-11-20 01:24] dmkjr commented on #13
@TurqDevDesign Austin, thanks for getting back with me.

So, as soon as I update the Staff Directory Plugin, I can see that the biography pages are functional, although it's stripping out my Staff Directory shortcodes.

I have a backup if you would like to see what I'm talking about.  I can update the script and show you for some possible debugging?

https://cityofhanahan.com is our website.  Feel

[2016-11-20 01:24] dmkjr commented on #13
@TurqDevDesign Currently I have the previous version installed.  After you take a look, I'll update.

[2016-11-20 01:27] adamtootle commented on #13
Yeah some log output would be useful. Also what version of PHP you're running. I saw some reports of the 500 errors but haven't had a chance to look much into it other than reading that line causing it doesn't play well on anything older than PHP 5.5.

[2016-11-20 01:31] dmkjr commented on #13
I have PHP7 enabled on the server.  I'm not getting the 500 errors.

If you take a look here, https://cityofhanahan.com/government/human-resources/ , you will see in the left sidebar an employee information here, which is handled from your Staff Directory plugin.  When I update the plugin, these no longer appear and when I visit a gallery (https://www.cityofhanahan.com/galleries) from the previous

[2016-11-20 01:36] adamtootle commented on #13
Interesting. It's possible that even though things are messing up it may not be triggering any sort of errors that would get logged. Are you using a plugin for the galleries? Or is that custom?

[2016-11-20 01:38] dmkjr commented on #13
It's custom.  It's part of the theme we are using which is called TownPress from Envato.  I can send you the theme if that helps too?  I'm not sure if it's causing issues with the theme or if its conflicting with something else.  I'm here to help.  Been looking forward to this feature for awhile.

[2016-11-20 01:44] TurqDevDesign commented on #13
If you could update to the new version now, I'd like to see what's happening.

[2016-11-20 01:45] dmkjr commented on #13
Okay, give me about a minute and a half.

[2016-11-20 01:46] adamtootle commented on #13
@TurqDevDesign I'm pretty sure we're going to have to tweak `StaffDirectory::load_profile_template()`. I'm trying to troubleshoot it now.

[2016-11-20 01:47] TurqDevDesign commented on #13
@adamtootle Let me take a look

[2016-11-20 01:48] dmkjr commented on #13
Okay, it's been updated.

You can see from this link https://cityofhanahan.com/galleries/2016-senior-thanksgiving-lunch/

that it destroyed the gallery.  Also the shortcodes aren't working on pages like https://cityofhanahan.com/government/human-resources/

[2016-11-20 01:54] TurqDevDesign commented on #13
Strange.. @adamtootle I don't believe it's an issue with load_profile_template(), all that does is check if it is a single post with the type of 'staff'. And then load the set file. Are you seeing something different?

[2016-11-20 01:56] adamtootle commented on #13
@TurqDevDesign check that last commit. `single-staff.php` in the plugin directory was overriding non-staff post types for me locally. I added a check around it and it seems to be working as expected. Possibly a bug with `is_singular()` or something.

[2016-11-20 01:58] TurqDevDesign commented on #13
@adamtootle I see what you did, makes sense.

[2016-11-20 02:00] adamtootle commented on #13
@TurqDevDesign actually, probably not a bug with `is_singular()`, but we were definitely never returning `$original` in that function. Even if `if(is_singular('staff'))` didn't pass. Could you double check and make sure that works on your end? I'll issue an update tonight.

@dmkjr feel free to revert to the working version for now so things don't stay messed up. I'm looking at issuing an update to

[2016-11-20 02:03] dmkjr commented on #13
@adamtootle Thanks for the quick work.  I'll revert now.

[2016-11-20 02:10] TurqDevDesign commented on #13
@adamtootle I think I figured it out, `return STAFF_LIST_TEMPLATES . $default_file_name;` needs to be inside the `if(is_singular('staff'))`. And then add `return $original;` at then end of  `load_profile_template()`

[2016-11-20 02:11] adamtootle commented on #13
@TurqDevDesign yep. I pushed that up already. Just wanted to see if you could verify it's working on your end before I send it off to wordpress.org.

[2016-11-20 02:14] adamtootle commented on #13
To clarify, it's working for me. Just wanted you to see it since that's part of what you wrote.

[2016-11-20 02:16] TurqDevDesign commented on #13
Yes, looks like it's working properly. That still doesn't seem to explain the shortcode not working though.

[2016-11-20 02:17] dmkjr commented on #13
If you two need me to test a package before it goes to Wordpress, just let me know.  I'll be working on things for a few hours this evening.

[2016-11-20 02:22] TurqDevDesign commented on #13
@dmkjr which staff template are you using? list, grid, or custom?

[2016-11-20 02:23] dmkjr commented on #13
Custom.

[2016-11-20 02:28] TurqDevDesign commented on #13
If you switch back to the new version, go to your settings, and then save, might that solve the shortcode not working issue?

[2016-11-20 02:29] dmkjr commented on #13
Is there a newer version to try with this?  I known he made a commit.  Either way, I can test that if desired.

[2016-11-20 02:32] TurqDevDesign commented on #13
Not in the Wordpress listings yet, but it has been committed on here. You can download the zip from here, rename it to staff-directory.zip, and then do a manual install if you'd like.

[2016-11-20 02:33] dmkjr commented on #13
Could I just override the files via FTP?

[2016-11-20 02:35] adamtootle commented on #13
Yeah you can install it manually from here to try the latest changes. You could also just clone it from here if you git on your server. Probably a good point that the last two commits _shouldn't_ have affected the shortcode. But at the moment I'm not sure why the shortcode wouldn't be working. It's working as expected on my end.

[2016-11-20 02:35] dmkjr commented on #13
Testing now, will report back shortly.

[2016-11-20 02:37] dmkjr commented on #13
Okay, Custom_post_type issue has been fixed.  Shortcodes are still broken.

[2016-11-20 02:37] TurqDevDesign commented on #13
Like Adam said, you can just clone the repo and add the files to your plugins file, just make sure to remove the other staff-directory folder. It won't overwrite it because the clone will be named staff-directory-master.

[2016-11-20 02:39] TurqDevDesign commented on #13
Have you tried what I suggested? Go to settings > save. And see if that helps

[2016-11-20 02:40] dmkjr commented on #13
I did.  No dice.

[2016-11-20 02:40] adamtootle commented on #13
@dmkjr can you drop the shortcode in here as you entered it via the WP editor? It's possible one of the options getting passed in is breaking something.

[2016-11-20 02:40] TurqDevDesign commented on #13
How about if you make a new custom template, copy your code from the first template, and then use that one?

[2016-11-20 02:41] dmkjr commented on #13
[staff-directory cat="267" template=custom_4]

[2016-11-20 02:43] dmkjr commented on #13
I copied the content from custom4 and created a custom7 and no dice.

[2016-11-20 02:43] dmkjr commented on #13
Also, for clarity.  The shortcode is inserted into a text widget that loads on each page.  Not sure if that changes anything, but that's how I control which Staff category is displayed on what page.

[2016-11-20 02:44] TurqDevDesign commented on #13
Ok, well at the very least that rules out issues with how the content is being stored and retrieved has changed.

[2016-11-20 02:46] TurqDevDesign commented on #13
If you create a new, private page, and use the shortcode in the page body, will that work? It could be an issue with your text widget.

[2016-11-20 02:48] adamtootle commented on #13
Good idea on trying it in the page content.

Without getting any sort of server error it's possible that the shortcode is executing properly as far as WP is concerned and just not returning output as expected. If it works in the page content, can you remove the two options inside the text widget and just use `[staff-directory]`? If you get any sort of output there then one of the options make have

[2016-11-20 02:48] dmkjr commented on #13
I created a page, added shortcode, no dice.  I added text after shortcode to see if the shortcode was stopping code to parse.  I saw the text fine.

[2016-11-20 02:50] dmkjr commented on #13
Well good news, there is output with [staff-directory]

Just gives me a single picture frame with no image and "private:test" and Phone:  And Email:

[2016-11-20 02:53] adamtootle commented on #13
Ah. This might be related to #10. That was another PR allowing multiple categories to be combined using AND logic. Does adding the `template` option back in still get you some output? That would verify that the `cat` option is the culprit here.

[2016-11-20 02:56] dmkjr commented on #13
Yes, still have output with template added in.  When I add "cat" it makes the shortcode not appear at all.

[2016-11-20 03:02] adamtootle commented on #13
Ok sweet - that was expected. Working on a fix now.

[2016-11-20 03:11] TurqDevDesign commented on #13
@adamtootle, what are your thoughts? Something in `$query_args['tax_query']`?

[2016-11-20 03:17] adamtootle commented on #13
@TurqDevDesign yeah. Basically the recent change expected a comma-separated list. I missed that when I merged it. It now checks to see if cat is numeric and responds accordingly. I kinda want to redo that whole part because passing in multiple category IDs will still break. The list is expected to be slugs. But I just pushed a fix that will fix this particular issue.

@dmkjr Can you check that las

[2016-11-20 03:17] dmkjr commented on #13
Certainly, testing now.

[2016-11-20 03:20] dmkjr commented on #13
Well, its giving something different, but not what's expected.

https://cityofhanahan.com/government/administration/purchasing/

The shortcode is displaying the "featured image" and not the staff member image and shows no other content from that staff member.

[2016-11-20 03:22] adamtootle commented on #13
Ok. I think we're back around to a template issue now. We're getting close! Are you passing a template into that shortcode that's not getting used? Or is it using the default option and that's not working?

[2016-11-20 03:25] dmkjr commented on #13
Well it appears that not all the shortcodes are working :/  hmm.  https://cityofhanahan.com/government/police-department/

that page, none of the shortcode is functioning on the left panel.

[staff-directory cat="322,278" template=custom_4]

That's the exact shortcode that is used on that page with an active template.

[2016-11-20 03:33] adamtootle commented on #13
Ha ok. That's the exact scenario I mentioned a couple of comments ago about multiple category IDs. Ok..one more commit incoming. Let me rewrite that part. We'll have this working before it's over with! Thanks a ton to you guys for helping work through this.

[2016-11-20 03:34] dmkjr commented on #13
No problem at all.  I have some good ideas for your plugin too.  After using 5 or 6 other ones for a few years, this one has worked out to be the best so far.  And, especially if we have someone willing to work through issues.  I appreciate it.

[2016-11-20 03:40] TurqDevDesign commented on #13
@adamtootle I think I have an idea of what's going on, in the previous version we simply had
`array(
    'taxonomy' => 'staff_category',
    'terms'    => array( $cat )
)`

and `'field' => 'term_id'` is the default in that case.
Now we have `'field' => 'slug'`.

It's not showing anything because what we're querying for simply doesn't exist. Those numbers are the ID numbers, not the slugs.

[2016-11-20 03:46] adamtootle commented on #13
@TurqDevDesign yep. There's also an `operator` option there now. I'm rewriting that whole section to maintain support for the newer functionality, as well as restore what's broken. It's definitely that part that's acting up, though.

[2016-11-20 03:53] TurqDevDesign commented on #13
Fantastic! I'm still not sure how any of this would cause peoples' 500 errors, but if what you said, that it only affects PHP < 5.5, is true then it shouldn't be much of an issue. Backwards compatibility is always great, but PHP and Wordpress have added many security improvements since 5.5, and it doesn't hurt to encourage updating.

[2016-11-20 03:55] dmkjr commented on #13
@TurqDevDesign I'm nowhere near a developer, but I've been around development and WP for over a decade.  I can tell you that most users of WP know how to click a button to have a free provider install WP for you and that's about the extent.  I would bet that the users with 500 errors and provided nothing other than that, it's a user error, usage error or they are on a crappy shared host that could

[2016-11-20 04:21] adamtootle commented on #13
@dmkjr can you try that latest commit? That should work well with passing multiple IDs in. The default logic is OR now. So `[staff-directory cat="322,278" template=custom_4]` will query for staff in category 322 OR category 278. I added support for a `cat_relation` option in case anyone wants to use AND logic, as well as a `cat_field` option for using slugs if needed.

[2016-11-20 04:21] dmkjr commented on #13
Sure, testing now.

[2016-11-20 04:23] dmkjr commented on #13
Eh, it displays now.  But still displaying "featured image" and not the "staff" photo.

[2016-11-20 04:26] adamtootle commented on #13
Ok good. So back to the template question from earlier. It is the custom template (custom_4) that's not working, right? And not the default template? Can you paste your custom_4 template so I can test that out?

[2016-11-20 04:28] dmkjr commented on #13
shortcode = [staff-directory cat="322,278" template=custom_4]
temp =
'

<div id="one-person">
<div class="person-photo">
<img src="[photo_url]" />
</div>

<div class="person-name"><h4>[name]</h4></div>

<div class="person-titre"><h5>[position]</h5></div>

<div class="person-number">Phone: [phone_number]</div>

<div class="person-email"><a href="/cdn-cgi/l/email-protection#5209373f333b3e0f">[email]

[2016-11-20 04:28] dmkjr commented on #13
`<div id="one-person">
<div class="person-photo">
<img src="[photo_url]" />
</div>
<div class="person-name"><h4>[name]</h4></div>
<div class="person-titre"><h5>[position]</h5></div>
<div class="person-number">Phone: [phone_number]</div>
<div class="person-email"><a href="/cdn-cgi/l/email-protection#5209373f333b3e0f">[email]</a></div>
</div><br>`

[2016-11-20 04:29] dmkjr commented on #13
`
<div id="one-person">
<div class="person-photo">
<img src="[photo_url]" />
</div>
<div class="person-name"><h4>[name]</h4></div>
<div class="person-titre"><h5>[position]</h5></div>
<div class="person-number">Phone: [phone_number]</div>
<div class="person-email"><a href="/cdn-cgi/l/email-protection#5209373f333b3e0f">[email]</a></div>
</div><br>

`

[2016-11-20 04:30] dmkjr commented on #13
'''
<div id="one-person">
<div class="person-photo">
<img src="[photo_url]" />
</div>
<div class="person-name"><h4>[name]</h4></div>
<div class="person-titre"><h5>[position]</h5></div>
<div class="person-number">Phone: [phone_number]</div>
<div class="person-email"><a href="/cdn-cgi/l/email-protection#5209373f333b3e0f">[email]</a></div>
</div><br>
'''

[2016-11-20 04:32] adamtootle commented on #13
lol markdown can be tricky. Use 3 tick marks before and after multiple lines.

[code]

[2016-11-20 04:33] dmkjr commented on #13
[code]

[2016-11-20 04:34] dmkjr commented on #13
I guess I should have further stated, it's not just the featured image.  It's not displaying the name, phone number, email or any other data from the staff member.  Just has a placeholder for a staff member.

[2016-11-20 05:01] adamtootle commented on #13
Ok. It took a few minutes to track down, but I think I have a solution.

I pasted you template in and it didn't work for me, as I'd hoped. Due to how the plugin performs the query to get staff members, it actually has to "loop" over a list of staff member results from the query. Even if the list only contains a single staff member. There's a mention of this in the plugin help section and it's incl

[2016-11-20 05:40] adamtootle commented on #13
@dmkjr let me know if it's all working for you. I'll push an official update if so.

[2016-11-20 13:08] dmkjr commented on #13
@adamtootle Apologize I fell asleep last night.   All seems to work well now.  That did the trick.

How would you link to each biography for each user?  So, if I want to change the template to have their name clickable to go to their biography page?  Thx again for all the work!

[2016-11-20 13:14] dmkjr commented on #13
@adamtootle I spoke too soon.  I wasn't really awake yet.  That did not fix the issue.  The names, positions, and such appear correctly now, but the "featured image" is still showing as the staff members photo.

[2016-11-20 13:17] dmkjr commented on #13
@adamtootle Another issue, that may help you with this one.  If you look at an individuals biography page such as, https://cityofhanahan.com/staff/ricardo-perry/ you will see that it's not loading properly, or at least I don't think so.  It doesn't flow with the template and really doesn't contain anything.

On your older version, biography pages worked and looked good, fit right into the theme, b

[2016-11-20 13:27] TurqDevDesign commented on #13
@dmkjr in terms of the single template, the default admittedly does need to be improved. When I implemented the feature I designed the template around what I needed (see here if you're interested http://www.oxfordacademymi.com/oxford/faculty/), and then I stripped out all of my customization in order to make it more friendly for other users. Before, by default, it simply used your theme's single.p

[2016-11-20 13:28] TurqDevDesign commented on #13
Just to be clear, your file MUST start with single-staff- in order to be recognized by the plugin.

[2016-11-20 13:30] dmkjr commented on #13
Ahh, gotcha.  I'll play with that in just a minute.  Any idea why the featured images are showing instead of the staff member photos?  I left the new plugin installed to show you two what it looks like.

[2016-11-20 13:33] TurqDevDesign commented on #13
Yeah, I took a look at your page, I'm going to try to duplicate the issue on my local sandbox, see if I can't diagnose it.

[2016-11-20 13:35] dmkjr commented on #13
Gotcha.  Also, I absolutely love your staff directory on your website.  That is exactly how I want to display them.  Currently, I have this.

https://cityofhanahan.com/staff-directory/

[2016-11-20 13:38] TurqDevDesign commented on #13
Well thank you, you're welcome to use it as a reference, and if you need any help with the css just let me know (you can reach me at turqdevdesign@gmail.com), it's all custom.

[2016-11-20 13:39] dmkjr commented on #13
Yeah, I'll shoot you an email now.  I would love to piggy back off that.  I would need to edit it slightly, but man it looks great.

[2016-11-20 15:29] TurqDevDesign commented on #13
Ok, I'm rather confused.. `[photo]` works, it but `[photo_url]` uses the wrong post. But the strange part is that `[photo]` literally uses the same function as `[photo_url]`, just adds an image tag around it...

[2016-11-20 16:51] adamtootle commented on #13
If it's trying to use the featured image of the current page (ie: the container post) then the loop is most likely loosing track of the current post somewhere. As in, `get_the_ID()` might be returning the page ID instead of the current staff ID at some point. I'll try to troubleshoot it. Might need to recheck those image shortcodes.

[2016-11-20 16:53] adamtootle commented on #13
Although, @TurqDevDesign is right. Those are the same function. Are we 100% sure that one works and they aren't both broken?

[2016-11-20 17:01] TurqDevDesign commented on #13
@adamtootle I've narrowed it down. The shortcode only breaks when it's used as an HTML attribute. If you use it outside an HTML attribute then it returns the correct URL. Inside the HTML attribute for some reason it is using the wrong loop.

[2016-11-20 17:03] TurqDevDesign commented on #13
@adamtootle I've read issues with shortcodes in HTML attributes in previous versions (https://core.trac.wordpress.org/ticket/33102), but I think it's since been resolved. I'm still trying to resolve how we could work around this.

[2016-11-20 17:04] adamtootle commented on #13
@TurqDevDesign yeah that's what I'm seeing too. Trying to track it down now.

[2016-11-20 17:22] dmkjr commented on #13
I'm back around if you guys need me to test live.

[2016-11-20 17:39] dmkjr commented on #13
@TurqDevDesign Austin, I'm attempting to create the single page now.  However, my theme doesn't call for a single.php in the theme directory.  I see a page.php perhaps?  There are some that start with single but it's theme specific, singe-lsvrdocument.php, single-lsvrevent.php and so forth.

I also have an article.php in the theme folder.

[2016-11-20 17:51] TurqDevDesign commented on #13
@dmkjr is it a child theme? if so then you need the single.php from your parent theme.

[2016-11-20 17:54] dmkjr commented on #13
It's not a child theme.
<img width="281" alt="screen shot 2016-11-20 at 12 53 57 pm" src="https://cloud.githubusercontent.com/assets/662675/20464941/7a259e50-af20-11e6-82ff-df720e57b0b7.png">

[2016-11-20 18:07] TurqDevDesign commented on #13
Here is the template hierarchy for single posts https://developer.wordpress.org/themes/basics/template-hierarchy/#single-post . I'd assume that if you don't have a single.php then your theme must use custom post types for the single posts.

[2016-11-20 18:09] dmkjr commented on #13
Does this make any sense for that?

<img width="939" alt="screen shot 2016-11-20 at 1 09 11 pm" src="https://cloud.githubusercontent.com/assets/662675/20465052/9a60e858-af22-11e6-8d93-aa3bda783b47.png">

[2016-11-20 18:16] TurqDevDesign commented on #13
What do you have set under Settings / Reading?

[2016-11-20 18:17] TurqDevDesign commented on #13
All you need to do is figure out which of those 4 single-*.php files was being used for the single post, and then use that. You could just try them all and see which looks best if you want.

[2016-11-20 18:20] dmkjr commented on #13
I have opened up the single-lsvrnotice.php.

Now, if I understand correctly I should copy and rename to single-staff-template.php with the same content from the regular single-lsvrnotice.php?

[2016-11-20 18:24] dmkjr commented on #13
I have named the single-lsvrnotice.php to single-staff-template.php and it didn't change the look or output of https://cityofhanahan.com/staff/dennis-turner/

[2016-11-20 18:25] TurqDevDesign commented on #13
@dmkjr Correct, just duplicate it, rename it, and select it in your settings dropdown.

[2016-11-20 18:27] TurqDevDesign commented on #13
@adamtootle Do you have any ideas? being a Wordpress bug it seems like it'd be best to just discontinue the `[photo_url]` shortcode, in favor of `[photo]`, and just add options to `[photo]` for a title, alt, class, and id tag.

[2016-11-20 18:29] TurqDevDesign commented on #13
The only real issue is that it'd probably break many peoples' custom templates.

[2016-11-20 18:31] dmkjr commented on #13
Forgive my ignorance here, but on the drop down.... it's only selectable for pages that I have created in WP, not the theme files.  Am I missing something?

[2016-11-20 18:33] TurqDevDesign commented on #13
In your sidebar, under Staff > Settings. There is a heading **Single profile templates**. Under that heading there is a dropdown that should say 'Default', you want to change that to your new file.

[2016-11-20 18:34] dmkjr commented on #13
Yep, told you it was my ignorance.  All is well now.  Thx!  I'll need to add a couple things, but looks good now.

https://cityofhanahan.com/staff/dennis-turner/

[2016-11-20 18:59] dmkjr commented on #13
@TurqDevDesign To get the elements from your single-staff, what code should be copied into my "single-staff-template"?  I've been playing around with it, but just crashed my web server and had to reboot after doing something wrong with the php left running.

[2016-11-20 19:16] TurqDevDesign commented on #13
This is the single template that I use, pretty much the same as the
default. If you want to style it you can inspect my css on the page. I'd
just give it to you but I'm a bit busy with some other things and I don't
have the time right at the moment to sift through it all for the selectors
specific to this page. If you can wait a day or two then I could find some
time to get it to you, but it might

[2016-11-20 19:17] TurqDevDesign commented on #13
@dmkjr I sent you an email.

[2016-11-20 21:39] dmkjr commented on #13
@TurqDevDesign Thanks.  I'm just now starting to play with it.

[2016-11-20 22:29] dmkjr commented on #13
I attempted to create a hyperlink to the email using the [email] shortcode.  Here is what I did.

`<a href="mailto:[email]"><?php echo do_shortcode('[email]'); ?></a>`

It created a link, but did not link appropriately.  Is there another method to call for the email address?

[2016-11-21 01:40] adamtootle commented on #13
As of right now I can confirm that shortcodes nested inside html attributes are called before any other shortcodes, which includes `[staff_loop]` and `[/staff_loop]`. As a result, any references to the current post (ie: `get_the_ID()` or `has_post_thumbnail()`) within the shortcode is _outside_ the staff query loop and referencing whatever the current post may be. In my test case and what I believ

[2016-11-21 02:29] dmkjr commented on #13
Thank you @adamtootle

Will the custom template option still be available for the staff biographies?  Been working on that most of the day, cleaning things up and getting it looking like I want it.

[2016-11-21 13:33] liquidsunshine opened #14 "Custom templates missing after upgrade to 1.1.0"
Our site broke after updating the staff-directory plugin to 1.1.0.  I did the following to restore our site:
- backed up a copy of the staff-directory plugin folder
- deleted the plugin folder
- logged into the site
- installed 1.0.3 from the Github tag

This got our site back up and running, but all of our custom directory list templates seem to be gone.  I upgraded to PHP7 per issue #13 and upgr

[2016-11-21 16:59] TurqDevDesign commented on #14
Hi, @liquidsunshine, I apologize for the issues. Unfortunately what you're experiencing was a bug with 1.0.3, fixed in 1.1.0. In 1.0.3 when you deactivated the plugin, or when your cache was wiped, Wordpress would unintentionally overwrite the templates. If you happen to have a backup of your database then you should be able to fix the issue. The Custom templates are stored, escaped and, in 1.1.0,

[2016-11-21 17:06] TurqDevDesign commented on #13
@adamtootle Have you begun work on the str_replace() fallback? If not, I could probably begin work on it right now.

[2016-11-21 18:17] adamtootle commented on #13
@TurqDevDesign well actually, reverting back on that would break usage of `do_shortcode()` in the single template. I had that realization today. The custom fields need to remain registered as shortcodes. Until we can find a work around we may need to prefer usage of the `[photo]` shortcode, rather than relying on `<img src="[photo_url]" />`. _But_, we may can take advantage of that. This is untest

[2016-11-21 18:38] TurqDevDesign commented on #13
@adamtootle Actually, I'm working on a fix right now to preserve `[photo_url]`, my idea keeps the integrity of built-in Wordpress shortcodes, but works around the bug using some simple `preg_match()` and `str_replace()`. I wish I had thought of it yesterday, but I've been fighting off a cold for the past week or so, so my mind has not been anywhere near peak efficiency. But, I'm finally feeling mu

[2016-11-21 19:26] TurqDevDesign commented on #13
@adamtootle I've fixed the issue in my pull request #15

[2016-11-21 22:55] dmkjr commented on #13
Is there a method to download with your changes?

[2016-11-21 23:31] TurqDevDesign commented on #13
Yes, just visit my fork from my pull request #15

[2016-11-22 00:24] dmkjr commented on #13
@TurqDevDesign Good news!  This fixes majority of the problems and the photo_url works again.  There is another issue with some HTML and displaying a user out of the category.

For example, if you visit https://cityofhanahan.com/government/police-department/
and look on the left sidebar, you will see the user "Travis Dodd" that is randomly thrown into then mix.  Also, seems to break the container

[2016-11-22 00:25] dmkjr commented on #13
So I spoke too soon.  My code was the problem.  It's fixed and all works well!  Thank yo!

[2016-11-22 00:48] TurqDevDesign commented on #13
Perfect! Glad I could help.

[2016-11-22 00:58] dmkjr commented on #13
Are you two going to start implementing any other changes?  I have a few ideas if interested.

[2016-11-22 01:09] adamtootle commented on #13
@TurqDevDesign I'm going to take a look at the PR in the next few minutes.

@dmkjr I go through spurts of work on this plugin throughout the year. I'm going to try to give it some more attention going forward. Just file your requests separately as issues here and I'd be glad to take a look!

[2016-11-22 01:41] dmkjr commented on #13
@TurqDevDesign Quick question.  What page would need to be edited for a category page that self generates by the category?  For example,

https://cityofhanahan.com/staff-categories/police-department/school-resource-officers-police-department/

What page would I edit to edit the output of that?  I want to make it similar to my other staff directory pages.

Thanks,
David

[2016-11-22 02:00] TurqDevDesign commented on #13
@dmkjr Category hierarchies can be found here https://developer.wordpress.org/themes/basics/template-hierarchy/#category . Also, I'm happy to answer any questions you may have, but for questions unrelated to the reported issue I'd appreciate if you could just send me a personal e-mail.

[2016-11-22 04:19] adamtootle commented on #13
It sounds like we're all good here. I'm going to close this for now and push v1.1.1 to wordpress.org. Thanks for all the help debugging these issues, guys!

[2016-11-22 04:19] #13 closed

[2016-11-22 04:27] adamtootle commented on #3
@delitestudio just a heads up. Defaulting to AND logic for multiple categories was causing some issues (see #10). The shortcode now support the following options for categories: `cat` (accepts multiple IDS or slugs), `cat_field` (defaults to 'ID', can be set to 'slug'), and `cat_relation` (defaults to 'OR' but can be set to 'AND'). I just wanted to let you guys know since you added some stuff for

[2016-11-22 04:27] #3 closed

[2016-11-22 04:47] adamtootle commented on #11
Added in 22ebece. I just released v1.1.1 so this go will out in the next version.

[2016-11-22 04:47] #11 closed

[2016-11-22 15:22] dmkjr opened #17 "[BIO] tag removes HTML"
I have rewrote some of our pages and included [BIO] on a few of the templates I've created and it's apparently removing the HTML or more specifically the line breaks ```<br />``` from the biography which is causing the entire bio to be a long run on paragraph.

Thanks in advance.

[2016-11-22 17:39] #17 closed

[2016-11-22 17:44] adamtootle commented on #9
@dmkjr are you still having this issue? The plugin isn't doing any cropping directly. It's possible that a theme may be messing with featured image sizes.

[2016-11-22 17:52] TurqDevDesign commented on #9
@adamtootle, I sent @dmkjr a personal email regarding this issue, last night. I'll repost my response here in case it can help anyone else:

[2016-11-22 18:26] dmkjr commented on #9
So I recognized that for whatever reason the plugin and Jetpack Photon wasn't working well together.  Photon also doesn't have a "refresh cache" button, so I couldn't diagnose the issue much.

Only on staff photos, some of them would turn themselves 90 degrees one way or the other.  Did not happen with any other photo.

I don't know if it's resolved really in this update, because I had to disable

[2016-11-22 18:30] dmkjr opened #18 "Email Link"
I see that ```[email-link]``` has been deprecated, however I have ```<a href="mailto:[email]">[email]</a>``` and it's just linking to not the shortcode, but just the text of ```[email]```

Any ideas?

[2016-11-22 19:56] TurqDevDesign commented on #18
@dmkjr I cant duplicate the issue, it's linking correctly for me. Can you provide any more information?

[2016-11-22 21:43] adamtootle commented on #18
Same here. It's working for me. Can you drop your template in here? Or maybe a link to see where it's happening?

[2016-11-22 23:39] dmkjr commented on #18
[code]

[2016-11-24 16:48] delitestudio commented on #3
Thank you @adamtootle we have upgraded our sites with the new options and they are working greatly! Sorry for any inconvenience the forced "AND" logic may have caused.

[2016-11-24 18:59] delitestudio opened #19 "Optional [staff-directory] title parameter"
Hello, in our use case of your great plugin we have the need to insert a title over every table generated by the [staff-directory] shortcode.

For example we need to dynamically implement a layout like this:

[code]

Is there a way to do this in a clean way? At the moment we have overwritten the class StaffDirectoryShortcode supporting a new title argument but it will be a good idea to have this f

[2016-11-25 04:18] dmkjr commented on #19
staff-directory-shortcode is the page in which you can add something before each loop starts.

[2016-11-26 01:15] dmkjr opened #20 "AJAX Type Search"
I'm not sure if this is a good location or the appropriate location, but something that I think would break this plugin into a mainstream Employee plugin would be the ability to display "instant type" search results.

Something like this:  http://www.w3schools.com/php/php_ajax_livesearch.asp

[2016-12-01 14:50] liquidsunshine commented on #14
Thanks for the explanation.  We recreated the templates and upgraded to 1.1.1, everything looks good now.  Thanks again!

[2016-12-01 14:50] #14 closed

[2016-12-02 15:43] delitestudio commented on #19
@dmkjr I'm not sure to have understood what you mean: as far as I konw `staff-directory-shortcode` is a shortcode and it's managed in the StaffDirectoryShortcode class. Can you explain me how to add something before each loop starts?

[2016-12-05 18:08] TurqDevDesign commented on #19
@delitestudio Are you trying to add something before each individual staff entry? Or before each group/category of entries? As well, are you wanting to add a specific string, or a string unique to each listing?

If you wanted a unique title for each individual listing, you could go to `staff > settings` and under `Custom Details Fields`, at the bottom of the white box, click `+ Add New Field`. Doi

[2016-12-05 23:39] delitestudio commented on #19
Hi @TurqDevDesign I'm trying to add something before each group of entries.

I've tried to add something static before `[staff_loop]` and it obviously works. But what I'm trying to do is to add a dynamic title for each group of entities. Using a shortcode for a field doesn't work because I think they are only be populated between  `[staff_loop]` and  `[/staff_loop]`.

Another problem is that this

[2017-02-09 16:48] dmkjr opened #22 "Template for Profiles"
@adamtootle @TurqDevDesign

How's it going guys?  Been awhile.

I cannot remember the outcome of this, but if I want the individual staff pages to load using a specific template, how do I do that?  Wasn't it by creating a template and titling it something specific?

Thanks,
David

[2017-02-17 05:31] adamtootle commented on #22
Create a new template file in your active theme directory and prefix the filename with `single-staff-`. Then go to Staff > Settings in the admin and select the new template file under "Single profile templates".

[2017-02-17 05:31] #22 closed

[2017-02-17 05:42] adamtootle commented on #18
@dmkjr I've tried to recreate this and it appears to be working on this latest release. I'm closing for now. Let me know if you have any other issues related to this.

Also, just an FYI, using `id="one-person"` inside a loop will result in multiple `one-person` ids on the page, which is invalid html.

[2017-02-17 05:42] #18 closed

[2017-03-17 14:03] timnolte commented on #19
It seems to me that more appropriately there would be the option to print the Category. While having a title attribute provides even more flexibility it is completely disconnected from the category chosen. A shortcode attribute that turns on Category printing (with perhaps a Category/Title template for defining the desired output) would be a more automated implementation that would provide more co

[2017-06-08 18:01] sushidave opened #23 "orderby=name not working"
Plugin version: 1.1.2
WordPress version: 4.7.5

I created a custom detail field with the template shortcode [order] in order to sort the items by the given number in this field. But the items are ordered by their ID in ascending (or order=DESC => descending) order, the plugin seems to ignore orderby=name.

Full shortcode: [staff-directory cat=3 template=custom_1 orderby=order order=ASC]

[2017-06-22 02:33] RafaelDeJongh commented on #9
Adding to this would be: is there a way to get the full featured image instead of the thumbnail one? as I'm using the thumbnails for other practises, changing the thumbnail size isn't a direct option for me, rather than having a proper full sized image scaled to the right dimension is.

Would be great if this would actually be an option rather than a build in thing relying on thumbnail rescaling/r

[2017-07-03 22:51] danleedham opened #25 "Amending URL Base '/Staff'"
Hello! Not sure if this is the correct forum for this request. Feel free to point me in the direction of some WP / PHP documentation outlining the process if it's not a unique change for the plugin.

I'm wondering how to change the start of the url from "staff". Love the plugin, love what it does but in our specific scenario we want to use the word "stations" (as in Radio, TV stations).

At this s

[2017-07-03 23:49] danleedham commented on #25
So by adding a 'rewrite' into _classes/staff-directory.php_ line 39~ register_post_type `'rewrite' => array('slug' => 'stations'),` I think I can get this to work? I've also noticed some people asking for this on the support forum, so maybe worth making this a variable that can be set in the admin panel on any future release?

[2017-07-05 18:30] adamtootle commented on #25
I'll work on getting a way to set this from the admin. And this is the best way to report issues. I don't get much time to look into this anymore, but issues and PRs here are definitely preferred.

[2017-07-06 02:20] #25 closed

[2017-07-06 02:22] adamtootle commented on #25
@danleedham if you want to pull that commit in you can test this. Otherwise it'll go out in the next update. That might be a day or two.

[2017-09-19 15:12] timnolte commented on #19
@adamtootle I can start to work on this however I notice that there has not been any updates to the plugin in the last 7 months and curious about your long term plan is. I'd be happy to take the lead on this plugin if you're open to it.

[2017-11-18 17:59] dmkjr commented on #22
Adam - I am using your plugin again on another website.  I have done this,
however it's not appearing as an option in the drop down for changing
single-staff-custom.php from the menu.

Any ideas?

On Fri, Feb 17, 2017 at 12:31 AM, Adam Tootle <notifications@github.com>
wrote: